* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: hsl(185, 75%, 39%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,  -50%);
  background-color: white;
  border-radius: 20px;
}

.container .box-one img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.container .box-img {
  position: absolute;
  right: 30%;
  top: 23%;
}

.container .box-img img {
  border: 4px solid #fff;
  border-radius: 50%;
  margin: 5px auto;
}

.container .box-img h4 {
  text-transform: capitalize;
  margin: 5px auto;
}

.container .box-img h4 .age {
  margin-left: 8px;
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

.container .pipline {
  position: absolute;
  top: 68%;
  left: 0;
  width: 100%;
  border-bottom: 1px solid hsl(0, 0%, 59%);
}

.container .box-img p {
  text-align: center;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  margin: 5px auto;
}

.container .box-three {
  margin-top: 80px;
}

.container .box-three .content-box {
  display: flex;
  height: 25vh;
  align-items: center;
  justify-content: space-around;
}
.container .box-three .content-box .box {
  margin-top: 80px;
  text-align: center;
}
.container .content-box .box h3{
  margin: 0 0 10px;
}
.container .content-box .box p {
  margin-top: 5px;
  font-weight: 700;
  font-size: 14px;
  color: hsl(0, 0%, 59%);
}